<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aditum">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.aditum.Laila"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateHidden">
        <activity android:name="com.aditum.activities.AlergieResourceDetails"></activity>
        <activity android:name="com.aditum.activities.ResourcesActivity" />
        <activity android:name="com.aditum.activities.ResourcesActivity1" />
        <activity android:name="com.aditum.activities.AllergiesDetailActivity" />

        <receiver
            android:name="com.aditum.geofence.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.aditum.activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name="com.aditum.activities.AddContactsActivity" />
        <activity android:name="com.aditum.activities.ContactsActivity" />
        <activity android:name="com.aditum.activities.ContactTypesHomeActivity" />
        <activity android:name="com.aditum.activities.IngredientsActivity" />
        <activity android:name="com.aditum.bodyreading.activities.AddBodyReadingActivity" />
        <activity android:name="com.aditum.activities.AddAlarmActivity" />
        <activity android:name="com.aditum.activities.MedicationDetailsActivity" />
        <activity android:name="com.aditum.activities.BarCodeScannerActivity" />
        <activity android:name="com.aditum.activities.TextRecognizerActivity" />
        <activity android:name="com.aditum.activities.InformationActivity" />
        <activity android:name="com.aditum.activities.MedicineInteractionActivity" />
        <activity android:name="com.aditum.activities.DocumentDetailsActivity" />
        <activity android:name="com.aditum.activities.AddPharmacyActivity" />
        <activity android:name="com.aditum.activities.MedicineAlarmActivity" />
        <activity android:name="com.aditum.activities.AddMedicationActivity" />
        <activity android:name="com.aditum.activities.ForgotActivity" />
        <activity android:name="com.aditum.bodyreading.activities.BodyReadingActivity" />
        <activity android:name="com.aditum.activities.MedicationFollowUpTwo" />
        <activity android:name="com.aditum.activities.MedicationFollowUpOne" />
        <activity android:name="com.aditum.activities.ProfileActivity" />
        <activity android:name="com.aditum.activities.TelehealthActivity" />
        <activity android:name="com.aditum.activities.CalenderActivity" />
        <activity android:name="com.aditum.activities.MedicalRecordsActivity" />
        <activity android:name="com.aditum.activities.BrowserActivity" />
        <activity android:name="com.aditum.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aditum.activities.SignUpActivity" />
        <activity android:name="com.aditum.activities.HomeActivity" />
        <activity android:name="com.aditum.activities.SignInActivity" />
        <activity android:name="com.aditum.activities.SettingActivity" />
        <activity android:name="com.aditum.activities.MedicationActivity" />
        <activity android:name="com.aditum.activities.UpdatePasswordActivity" />

        <service
            android:name="com.aditum.network.firebaseNotification.GetDeviceTokenService"
            android:enabled="false"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1839468579617798~3581743513" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />

        <service android:name="com.aditum.alarms.LoadAlarmsService" />

        <receiver android:name="com.aditum.alarms.LoadAlarmsReceiver" />
        <receiver android:name="com.aditum.alarms.AlarmReceiver" />
        <receiver
            android:name="com.aditum.alarms.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="${bootPriority}">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>